#score
{
	width: 600px;
	height: 20px;
	margin: 0 auto;
	text-align: right;
}

#matrix
{
	width: 600px;
	height: 600px;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	margin: 0 auto;	
}

#matrix .cell
{
	float: left;
	width: 14px;
	height: 14px;	
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;	
}
