#content {
	text-align: center;
	margin 0 auto;
}

li {
	display: inline;
	font-size: 16px;
	border-radius: 25px;
	background: #8AC007;
    	padding: 20px; 
    	width: 200px;
    	height: 150px;
}

h1 {
	text-align: center;
	color: green;
}

#page {
	background-image: url("images/green-background.jpg");
	background-color: #ffffff; 
	background-repeat: no-repeat;
}

#footer {
	position: fixed;
	bottom: 10px;
	width: 100%; 
	text-align: center;
	font-weight: bold;
	margin 0 auto;
}
