body {
	background-color : #F2F2F2;	
}

#container {
	width: 180px;
	height: 180px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -90px 0 0 -90px;
}

#message {
	width: 180px;
	height: 40px;
	text-align: center; 
	color: #E5E600;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -130px 0 0 -80px;
}

#container .cell {
	float: left;
	width: 50px;
	height: 50px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: gray; 
}

.xImg {
	left: 0px;
	width: 49px;
	background: url('images/x-o.jpg') 0 0;
}

.yImg {
	left: 50px;
	width: 48px;
	background: url('images/x-o.jpg') 50px 0;
}
