body {
	background-color : #F2F2F2;	
}

#container div {
	margin: 0 auto; 
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

